*{
  margin: 0;
  padding: 0;
  outline: none;
  color: #ffffff
}
html, body, #app, #main{
  background: #000000;
  height: 100%;
  width: 100%;
}
.w33{
  width: 33%;
}
.h300{
  height: 300px;
}
.flex1{
  flex: 1;
}
.h600{
  height: 600px;
}
